<div class="card" *ngIf="auth.isAuthenticated && auth.isArticleWriter">
    <div class="card-header">Verktøy</div>
    <a routerLink="/artikkelredigering">Artikkelredigering</a>
    <hr>
    <h5>Upubliserte artikler</h5>
    <div *ngFor="let article of articles" class="card">
        {{ article.doc.title }} - {{ article.doc.author }}
        <a routerLink="/artikkelredigering/{{article.id}}"><mat-icon aria-hidden="false" aria-label="Publisert">edit</mat-icon></a>
        <mat-icon aria-hidden="false" class="icon-delete" aria-label="Publisert" (click)="deleteArticle(article.id)">delete</mat-icon>
    </div>
</div>