<div class="card" *ngIf="auth.isAuthenticated && auth.isArticleWriter">
    <div class="card-header">Verktøy</div>
    <a routerLink="/artikkelredigering">Ny artikkel</a>
    <hr>
    <h5>Upubliserte artikler</h5>
    <div *ngFor="let article of articles" class="card">
        {{ article.doc.title }} - {{ article.doc.author }}
        <mat-icon aria-hidden="false" aria-label="Publisert">edit</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Publisert">delete</mat-icon>
    </div>
</div>