<div class="modal-header">
    <h4 class="modal-title" id="modal-title" [innerHTML]="textTitle"></h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" [innerHTML]="textBody">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('CANCEL')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('OK')">Ok</button>
</div>